# --- CONFIGURACION DEL SERVIDOR ---
PORT=3001

# --- CREDENCIALES DE ADMIN ---
ADMIN_EMAIL=admin@ejemplo.com
ADMIN_PASSWORD=admin123

# --- FIREBASE CONFIG ---
# Puedes usar la ruta al archivo JSON
FIREBASE_CREDENTIALS=./firebase-credentials.json
# O el contenido completo del JSON (Recomendado para Vercel)
# FIREBASE_SERVICE_ACCOUNT={"type": "service_account", ...}
